    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/clothes.css">
        <link rel="stylesheet" href="/stylesheets/product-card.css">
        <title>Accessoarer</title>
    </head>

    <body>
        <%- include('partials/layout/header') %>
            <main>
                <h3>Accessoarer</h3>
                <div class="product-cards">
                    <div class="product-card">
                        <div class="product-img-wrapper">
                           <a href="/products">
                                <img class="product-img" src="/images/Selected/saif71-com-brqTWpFkmSQ-unsplash.jpg" alt="t-shirt"/>
                            </a>
                            <span class="icon-heart"><img src="/images/icons/suit-heart-fill.svg" onclick="toggleHeart(this)"></span>
                        </div>

                        <div class="product-info">
                            <span class="product-name">Svart T-shirt</span>
                            <span class="price">199 SEK</span>
                            <span class="brand">Levis</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img-wrapper">
                            <a href="/products">
                                <img class="product-img" src="/images/Selected/charlesdeluvio-1-nx1QR5dTE-unsplash.jpg" alt="t-shirt"/>
                            </a>
                            <span class="icon-heart"><img src="/images/icons/suit-heart-fill.svg" onclick="toggleHeart(this)"></span>

                        </div>

                        <div class="product-info">
                            <span class="product-name">Svart T-shirt</span>
                            <span class="price">199 SEK</span>
                            <span class="brand">Levis</span>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-img-wrapper">
                            <a href="/products">
                                <img class="product-img" src="/images/Selected/irene-kredenets-tcVH_BwHtrc-unsplash.jpg" alt="t-shirt"/>
                            </a>
                            <span class="icon-heart"><img src="/images/icons/suit-heart-fill.svg" onclick="toggleHeart(this)"></span>

                        </div>

                        <div class="product-info">
                            <span class="product-name">Svart T-shirt</span>
                            <span class="price">199 SEK</span>
                            <span class="brand">Levis</span>
                        </div>
                    </div>
                </div>
            </main>

        
                        <%- include('partials/layout/footer') %>
    </body>
        <script>
        function toggleHeart(el) {
        el.classList.toggle("active");
        }
        </script>
</html>