<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/stylesheets/product-card.css"> 
      <link rel="stylesheet" href="/stylesheets/favorites.css"> 
    <title>Mina favoriter</title>
</head>

<body>
    <%- include('partials/layout/header') %>
        <main>

            <h3>Mina Favoriter</h3>

            <% if (products.length) { %>
                <%- include('partials/components/product-card', { products: products }) %>
            <% } else { %>
                <p class="empty-favorites">Du har inga favoriter ännu.</p>
            <% } %>
        </main>




                    <%- include('partials/layout/footer') %>
</body>

</html>
