<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Logga in</title>
</head>

<body>
    <%- include('partials/layout/header') %>
        <h3>Logga in</h3>

        <form class="register" id="loginForm" action="/login" method="POST">
            <label for="email" class="email">E-post</label>
            <input type="email" name="email" id="email" required>

            <label for="password" class="password">Lösenord</label>
            <input type="password"  name="password" id="password" required>
            <div class="btn">   
                <button type="submit">Logga in</button>
                <button type="button" onclick="window.location.href='/register'">Skapa konto</button>
            </div>
        </form>
       
            <%- include('partials/layout/footer') %>
        
</body>
