<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Logga in</title>
</head>

<body>
    <%- include('partials/layout/header') %>
        <h3>Logga in</h3>

        <form class="register" action="/users/login" method="POST">
            <label for="email" class="email">E-post</label>
            <input type="email" name="email" required>

            <label for="password" class="password">Lösenord</label>
            <input type="password"  name="password" required>

            <div class="register-btn"><button type="submit">Logga in</button></div>
        </form>
       
    


       
                    <%- include('partials/layout/footer') %>
</body>