<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/clothes.css">
    <link rel="stylesheet" href="/stylesheets/product-card.css">
    <title>Nyheter</title>
</head>

<body>
    <%- include('partials/layout/header') %>
        <main>
            <h3>
                <%= title %>
            </h3>

            <%- include('partials/components/product-card', { products: products }) %>

        </main>


        <%- include('partials/layout/footer') %>
</body>
<script>
    function toggleHeart(el) {
        el.classList.toggle("active");
    }
</script>


</html>