<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer-navbar.css" />
</head>

<body>
    <div class="footer-container">
        <div>
            <h5>Shopping</h5>
            <a href="#">Vinterjackor</a>
            <a href="#">Pufferjackor</a>
            <a href="#">Kappa</a>
            <a href="#">Trenchcoats</a>
        </div>

        <div>
            <h5>Mina sidor</h5>
            <a href="#">Mina Ordrar</a>
            <a href="#">Mitt Konto</a>
        </div>
        <div>
            <h5>Kundtjänst</h5>
            <a href="#">Returnpolicy</a>
            <a href="#">Integritetspolicy</a>
        </div>
    </div>
</body>

</html>