<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<body>
    <header>
        <div class="header-container">
           <a href="/">
            <img class="header-logo" src="/images/ChatGPT Image 20 mars 2026 18_47_47.png" alt="header img">
            </a>
            <div class="search-row">    
                <div class="search-wrapper">
                    <img src="/images/icons/search.svg" alt="search-icon" class="searchicon">
                    <input class="search" type="search" placeholder="Sök produkt">
                </div>
                    
                <div class="icons">
                    <a href="/favorites"><img src="/images/icons/suit-heart-fill.svg" alt="favorit"></a>
                    <a href="/basket"><img src="/images/icons/basket2-fill.svg" alt="kundkorg"></a>
                    <% if (user) { %>
                        
                            <img class="logout-icon" src="/images/icons/person-circle.svg" onclick="toggleMenu()" alt="Inloggad">
    
                        <div id="dropdownMenu" class="hidden">
                            <a href="/logout">Logga ut</a>
                            <a href="/account">Mitt konto</a>
                        </div>
                    <% } else { %>
                    <a href="/login"><img src="/images/icons/box-arrow-in-right.svg" alt="login"></a>
                    <% } %>
                    
                </div>
            </div>
        </div>
        <nav class="menyrad">
                <ul>
                    <% categories.forEach(category=> { %>
                        <li>
                            <a href="<%= category.link %>">
                                <%= category.name %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
            </nav>
        </nav>
    </header>
<script>
function toggleMenu() {
  const menu = document.getElementById("dropdownMenu");
  menu.classList.toggle("hidden");
}
</script>

</body>

</html>