<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/small-icon.css" />
    
</head>
<body>
  <article class="small-icons">
    <div class="free-shipping">
      <img src="/images/earth.png" alt="Gratis frakt icon">
      <p>Gratis frakt och retur</p>
    </div>
    <div class="express-shipping">
      <img src="/images/plane.png" alt="Express frakt icon">
      <p>Expressfrakt</p>
    </div>
    <div class="secure-payments ">
      <img src="/images/shield-half.png" alt="Säkerbetalning icon">
      <p>Säkra betalningar</p>
    </div>
    <div class="NEWS">
      <img src="/images/smile.png" alt="Liten smile icon (Nyheter)">
      <p>Nyheter varje dag</p>
    </div>
  </article>

</body>
</html>