<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css" />
</head>
<body>

    <div class="footer-continainer">
        <div>
            <h4>Shopping</h4>
            <a href="#">Vinterjackor</a>
            <a href="#">Pufferjackor</a>
            <a href="#">Kappa</a>
            <a href="#">Trenchcoats</a>
        </div>

        <div>
            <h4>Mina sidor</h4>
            <a href="#">Mina Ordrar</a>
            <a href="#">Mitt Konto</a>
        </div>
        <div>
            <h4>Kundtjänst</h4>
            <a href="#">Returnpolicy</a>
            <a href="#">Integritetspolicy</a>
        </div>
    </div>


    <footer>
    <small>&copy; Freaky Fashion</small>
  </footer>
</body>
</html>