<section class="hero">
    <div class="hero-bild">
      <img src="https://placehold.co/800x600?text=Hero" alt="Hero bild">
    </div>

    <div class="hero-text">
      <h3>Lorem, ipsum dolor.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fugiat omnis sit vero iste qui ducimus sequi
        officia! Ut, voluptatibus!</p>
    </div>
  </section>