<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/hero.css" />
  </head>
  <body>
    <section class="hero">
      <div class="hero-img">
        <img src="/images/420-fourtwoo-h9PloDS-r_U-unsplash.jpg" alt="Hero bild" />
      </div>

      <div class="hero-text">
        <h3>Hetast just nu</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
          fugiat omnis sit vero iste qui ducimus sequi officia! Ut,
          voluptatibus!
        </p>
      </div>
    </section>
  </body>
</html>
