<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/product-card.css" />
  </head>
  <body>
    <div class="product-cards">
      <div class="product-card">
        <a href="#">
          <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
          <span class="icon-heart"
            ><img src="/images/icons/suit-heart-fill.svg" alt="heart-fill"
          /></span>
        </a>
        <span class="news">Nyhet</span>

        <div class="product-info">
            <span class="product-name">Svart T-shirt</span>
            <span class="price">199 SEK</span>
            <span class="brand">Levis</span>
        </div>
      </div>
      <div class="product-card">
        <a href="#">
          <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
          <span class="icon-heart"
            ><img src="/images/icons/suit-heart-fill.svg" alt="heart-fill"
          /></span>
        </a>
        <span class="news">Nyhet</span>

        <div class="product-info">
            <span class="product-name">Svart T-shirt</span>
            <span class="price">199 SEK</span>
            <span class="brand">Levis</span>
        </div>
      </div>
      <div class="product-card">
        <a href="#">
          <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
          <span class="icon-heart"
            ><img src="/images/icons/suit-heart-fill.svg" alt="heart-fill"
          /></span>
        </a>
        <span class="news">Nyhet</span>

        <div class="product-info">
            <span class="product-name">Svart T-shirt</span>
            <span class="price">199 SEK</span>
            <span class="brand">Levis</span>
        </div>
      </div>
      <div class="product-card">
        <a href="#">
          <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
          <span class="icon-heart"
            ><img src="/images/icons/suit-heart-fill.svg" alt="heart-fill"
          /></span>
        </a>
        <span class="news">Nyhet</span>

        <div class="product-info">
            <span class="product-name">Svart T-shirt</span>
            <span class="price">199 SEK</span>
            <span class="brand">Levis</span>
        </div>
      </div>
      <div class="product-card">
        <a href="#">
          <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
          <span class="icon-heart"
            ><img src="/images/icons/suit-heart-fill.svg" alt="heart-fill"
          /></span>
        </a>
        <span class="news">Nyhet</span>

        <div class="product-info">
            <span class="product-name">Svart T-shirt</span>
            <span class="price">199 SEK</span>
            <span class="brand">Levis</span>
        </div>
      </div>
      <div class="product-card">
        <a href="#">
          <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
          <span class="icon-heart"
            ><img src="/images/icons/suit-heart-fill.svg" alt="heart-fill"
          /></span>
        </a>
        <span class="news">Nyhet</span>

        <div class="product-info">
            <span class="product-name">Svart T-shirt</span>
            <span class="price">199 SEK</span>
            <span class="brand">Levis</span>
        </div>
      </div>
      <div class="product-card">
        <a href="#">
          <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
          <span class="icon-heart"
            ><img src="/images/icons/suit-heart-fill.svg" alt="heart-fill"
          /></span>
        </a>
        <span class="news">Nyhet</span>

        <div class="product-info">
            <span class="product-name">Svart T-shirt</span>
            <span class="price">199 SEK</span>
            <span class="brand">Levis</span>
        </div>
      </div>
      <div class="product-card">
        <a href="#">
          <img class="product-img" src="/images/pngegg.png" alt="t-shirt" />
          <span class="icon-heart"
            ><img src="/images/icons/suit-heart-fill.svg" alt="heart-fill"
          /></span>
        </a>
        <span class="news">Nyhet</span>

        <div class="product-info">
            <span class="product-name">Svart T-shirt</span>
            <span class="price">199 SEK</span>
            <span class="brand">Levis</span>
        </div>
      </div>
    </div>
      