<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/spots.css">
</head>
<body>
    <div class="spots-container">
            <div class="spot1"><a href="#"><img src="/images/luis-quintero-igFAxmJkgp0-unsplash.jpg" alt="Skor"></a>
                <div class="spot-nyhet">Nyhet</div>    
            </div>
            <div class="spot2"><a href="#"><img src="/images/Selected/reynier-carl-87m1_NfKld4-unsplash.jpg" alt="t-shirt"></a>
                <div class="spot-bästsäljare">Bästsäljare</div>
            </div>
            <div class="spot3"><a href="#"><img src="/images/Selected/temuujin-purevjav-KGQ5OkF14VI-unsplash.jpg" alt="t-shirt"></a>
                <div class="kolla-priset">Kolla priset!!</div>
            </div>
        </div>
</body>
</html>